<app-userdashboard></app-userdashboard>

<div class="container">
  <form [formGroup]="applyForm">
    <div class="form-group">
      <label for="enterName">Applicant Name</label>
      <input type="text" id="enterName" name="Name" placeholder="Enter Applicant Name" class="form-control" formControlName="applicantName">
      <span *ngIf="applyForm.controls['applicantName'].touched && applyForm.hasError('required', 'applicantName')" class="text-danger">Name is Required</span>
    </div>

    <div class="form-group">
      <label for="enterAddress">Applicant Address</label>
      <input type="text" id="enterAddress" placeholder="Enter Applicant Address" class="form-control" name="Address" formControlName="applicantAddress">
      <span *ngIf="applyForm.controls['applicantAddress'].invalid && applyForm.controls['applicantAddress'].touched" class="text-danger">Address is Required</span>
    </div>

    <div class="form-group">
      <label for="enterMobile">Applicant Mobile</label>
      <input type="text" id="enterMobile" placeholder="Enter Applicant Mobile" class="form-control" min="0" max="9" name="Mobilenumber" formControlName="applicantMobile">
      <span *ngIf="applyForm.controls['applicantMobile'].touched &&applyForm.hasError('required','applicantMobile')" class="text-danger">Number is Required</span>
      <span *ngIf="applyForm.controls['applicantMobile'].touched &&applyForm.hasError('pattern','applicantMobile')" class="text-danger">Invalid Format</span>
    </div>

    <div class="form-group">
      <label for="enterEmail">Applicant Email</label>
      <input type="text" id="enterEmail" placeholder="Enter Applicant Email Id" class="form-control" name="email" formControlName="applicantEmail">
      <span *ngIf="applyForm.controls['applicantEmail'].touched &&applyForm.hasError('required','email')" class="text-danger">Email is required</span>
      <span *ngIf="applyForm.controls['applicantEmail'].touched &&applyForm.hasError('email','applicantEmail')" class="text-danger">Invalid email format</span>
    </div>

    <div class="form-group">
      <label for="enterAadharNo">Applicant Aadhaar No</label>
      <input type="text" id="enterAadharNo" placeholder="Enter Applicant Aadhaar No" class="form-control" min="0" max="9" name="Aadhaar" formControlName="applicantAadhaar">
      <span *ngIf="applyForm.controls['applicantAadhaar'].touched &&applyForm.hasError('required','applicantAadhaar')" class="text-danger">Aadhaar No is Required</span>
      <span *ngIf="applyForm.controls['applicantAadhaar'].touched &&applyForm.hasError('minLength')" class="text-danger">Invalid Number Format</span>
      <span *ngIf="applyForm.controls['applicantAadhaar'].touched &&applyForm.hasError('maxLength')" class="text-danger">Invalid Number Format</span>
      <span *ngIf="applyForm.controls['applicantAadhaar'].touched &&applyForm.hasError('pattern','applicantAadhaar')" class="text-danger">Invalid Number Format</span>
    </div>

    <div class="form-group">
      <label for="enterPanNo">Applicant PAN No</label>
      <input type="text" id="enterPanNo" placeholder="Enter Applicant PAN No" class="form-control" name="PAN" formControlName="applicantPan">
      <span *ngIf="applyForm.controls['applicantPan'].touched &&applyForm.hasError('required','applicantPan')" class="text-danger">PAN is Mandatory</span>
      <span *ngIf="applyForm.controls['applicantPan'].touched &&applyForm.hasError('maxLength')" class="text-danger">Invalid Format</span>
      <span *ngIf="applyForm.controls['applicantPan'].touched &&applyForm.hasError('pattern','applicantPan')" class="text-danger">Invalid Format</span>
    </div>

    <div class="form-group">
      <label for="enterSalary">Applicant Salary</label>
      <input type="text" id="enterSalary" placeholder="Enter Applicant Salary" class="form-control" name="Salary" formControlName="applicantSalary" min="0" max="9">
      <span *ngIf="applyForm.controls['applicantSalary'].touched && applyForm.hasError('required','applicantSalary')" class="text-danger">Mandatory</span>
    </div>

    <div class="form-group">
      <label for="enterAmount">Loan Amount Required</label>
      <input type="text" id="enterAmount" placeholder="Enter Loan Amount Required" class="form-control" name="loanamt" formControlName="loanAmountRequired" min="0" max="9">
      <span *ngIf="applyForm.controls['loanAmountRequired'].touched && applyForm.hasError('required','loanAmountRequired')" class="text-danger">Mandatory</span>
    </div>

    <div class="form-group">
      <label for="enterMonths">Loan Repayment Months</label>
      <input type="text" id="enterMonths" placeholder="Enter loan repayment months" class="form-control" name="months" formControlName="loanRepaymentMonths">
      <span *ngIf="applyForm.controls['loanRepaymentMonths'].dirty && applyForm.hasError('required','loanRepaymentMonths')" class="text-danger">Mandatory</span>
    </div>

    <button (click)="applyloan()" type="submit" value="Apply" id="apply" class="btn btn-primary">Apply</button>
  </form>
</div>
