<app-userdashboard></app-userdashboard>
<div>
    <form [formGroup]="applyForm">
    <input type="text" id="enterName" name="Name" placeholder="Enter Applicant Name" formControlName="Name"><br>
    <span *ngIf="applyForm.controls['Name'].invalid && applyForm.controls['Name'].touched">Name is Required <br></span>
    <input type="text" id="enterAddress" placeholder="Enter Applicant Address" name="Address" formControlName="Address"><br>
    <span *ngIf="applyForm.controls['Address'].invalid && applyForm.controls['Address'].touched">Address is Required<br></span>
    <input type="number" id="enterMobile" placeholder="Enter Applicant Mobile" min="0" max="9" name="Mobilenumber" formControlName="Mobilenumber"><br>
    <span>
            <span *ngIf="applyForm.controls['Mobilenumber'].touched &&applyForm.hasError('required','Mobilenumber')">Number is Required<br></span>
            <span *ngIf="applyForm.controls['Mobilenumber'].touched &&applyForm.hasError('minLength','Mobilenumber')">Invalid Format<br></span>
    </span>
    <input type="text" id="enterEmail" placeholder="Enter Applicant Email Id" name="email"  formControlName="email"><br>
    <span>
           <span *ngIf="applyForm.controls['email'].touched &&applyForm.hasError('required','email')">Email is required <br></span>
           <span *ngIf="applyForm.controls['email'].touched &&applyForm.hasError('required','email')" >Invalid email format <br></span>
    </span>
    <input type="number" id="enterAadharNo" placeholder="Enter Applicant Aadhaar No" min="0" max="9" name="Aadhaar" formControlName="Aadhaar"/><br>
    <span>
          <span *ngIf="applyForm.controls['Aadhaar'].touched &&applyForm.hasError('required','Aadhaar')">Aadhaar No is Required<br></span> 
          <span *ngIf="applyForm.controls['Aadhaar'].touched &&applyForm.hasError('required','minLength')">Invalid Number Format<br></span>   
          <span *ngIf="applyForm.controls['Aadhaar'].touched &&applyForm.hasError('required','maxLength')">Invalid Number Format<br></span>
    </span>
    <input type="text" id="enterPanNo" placeholder="Enter Applicant PAN no" name="PAN" formControlName="PAN"><br>
    <span> 
          <span *ngIf="applyForm.controls['PAN'].touched &&applyForm.hasError('required','PAN')">PAN is Mandatory<br></span>    
          <span *ngIf="applyForm.controls['PAN'].touched &&applyForm.hasError('required','maxLength')">Invalid Format<br></span>
    </span>
    <input type="number" id="enterSalary" placeholder="Enter Applicant Salary" name="Salary" formControlName="Salary" min="0" max="9"><br>
    <span *ngIf="applyForm.controls['Salary'].touched && applyForm.hasError('required','Salary')" >Required Field<br></span>
    <input type="number" id="enterAmount" placeholder="Enter Loan Amount Required" name="loanamt" formControlName="loanamt" min="0" max="9"><br>
    <span *ngIf="applyForm.controls['loanamt'].touched && applyForm.hasError('required','loanamt')" > Required Field<br></span>
    <input type="number" id="enterMonths" placeholder="Enter loan repayment months" name="months" formControlName="months"><br>
    <span *ngIf="applyForm.controls['months'].touched && applyForm.hasError('required','months')" >Month is Required<br></span>

    <p>Upload documents (Mandatory *)</p>
    <select name="documents" id="selectDocumentType">
         <option value="none" selected disabled hidden>Pick a Document Type</option>
         <option value="pdf">PDF</option>
         <option value="doc">DOC</option>
         <option value="img">IMG</option>
    </select><br>
    Images or Documents (Upload below 2mb)<br>
    <input type="file" id="chosen" name="file" formControlName="file"><br>
    <span *ngIf="applyForm.controls['file'].invalid && applyForm.controls['file'].touched">Mandatory <br></span><br>
    <button (click)="applyloan()" id="apply">Apply</button>
</form>
</div>