<div class="login-box">
    <h1 style="color:rgb(16, 4, 105);">LOGIN</h1>
    <form [formGroup]="loginForm">
            <label for="Email">Email</label>
            <input  type="text" id="email" placeholder="Enter email"  formControlName="email" required/>
            <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
                <span *ngIf="loginForm.hasError('required','email')" style="color: red;">Email is required</span>
                <span *ngIf="loginForm.hasError('email','email')" style="color:red;">Invalid email format</span>
            </div>
            <label for="password">Password</label>
            <div class="input-container">
                <input type="{{passType}}" id="password"  placeholder="Enter Password" formControlName="password" required/>
                <span class="password-toggle-icon" (click)="toggle()" *ngIf="!showPass" >
                       <i class="fa-solid fa-eye-slash"></i>
                </span>
                <span class="password-toggle-icon" (click)="toggle()" *ngIf="showPass">
                       <i class="fa-solid fa-eye"></i>
                </span>
            </div>
            <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
                <span *ngIf="loginForm.hasError('required','password')" style="color:red;">Password is required</span>
                <!-- <span *ngIf="loginForm.hasError('pattern','password')" style="color:red;">Invalid password format</span> -->
            </div>

            <button type="submit" value="Login" id="btn" (click)="onlogin(); onPassData()">Login</button>
            <p style="color: white;">New user/Admin? <a href="/signup" id="signup">Register</a></p>
    </form>
</div>      