h1{
    margin-left: 20px;
    text-align: center;
  }  
  h6 {
    font-size: 20px;
    margin-bottom: 20px;
  }
 select{
    width:100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-left: 3%;
 }
  input[type="email"],
  input[type="text"],
  input[type="tel"],
  input[type="password"] {
    width:100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-left: 3%;
  }
  
  small {
    color:red;
    font-size: 10px;
    margin-left: 30%;
  }
  
  button {
    background-color: #081dd9;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-left: 40%;
  }
  .message{
    margin-left:5%;
  }
  #signinLink{
    color: blue;
    text-decoration: none;
  }
  #signinlink:hover{
    text-decoration: underline;
    background-color: #1948e3;
    color: #ddd;
  }
  
  .input-container{
    position: relative;
  }
  .password-toggle-icon-p{
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 9px;
    color: black;
  }
  .password-toggle-icon-cp{
    position: absolute;
    cursor: pointer;
    top:10px;
    right:9px;
    color: black;
  }
  .input{
    width: 400px;
    background-color:rgb(89, 153, 151);
    padding: 20px;
    margin: 100px auto;
    border-radius: 5px;
  }

  small{
    font-size:20px;
    font-weight: bold;  
  }
  form {
    display: flex;
    flex-direction: column;
    }