input{
  margin-left: 42%;
  height:25px;
}
button{
  background-color: black;
  color: white;
 
  cursor: pointer;
  height: 25px;
  width:9%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-top: 20px;
  /* Add background-color and padding */
  background-color:#f0f0f0;
  padding: 10px;
  font-weight: bolder;
}

.grid-item {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.image-container {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: solid;
}

table td {
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

.status {
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.approved {
  background-color: #28a745;
  color: #fff;
}

.rejected {
  background-color: #bb1c2c;
  color: #fff;
}

.approve-btn,
.reject-btn {
  padding: 5px 10px;
  border-radius: 5px;
  cursor:pointer;
}