<app-admindashboard></app-admindashboard>

<br> <h2></h2> <br>

<div *ngIf="Show">
  <div class="grid-container">
    <div class="grid-item">
      <div *ngFor="let item of Applicantarray.reverse()" class="image-container">
        <table [ngClass]="item.loanStatus === 'approved' ? 'adminLoanGrid1' : 'adminLoanGrid2'">
          <tbody>
            <tr>
          
              <td style="width: 15%; text-align: left;">Applicant name:</td>
              <td style="width: 15%; text-align: left;">{{ item.applicantName }}</td>
              <td style="width: 15%; text-align: left;">Applicant Address:</td>
              <td style="width: 15%; text-align: left;">{{ item.applicantAddress }}</td>
              <td style="width: 15%; text-align: left;">Applicant Email:</td>
              <td style="width: 15%; text-align: left;">{{ item.applicantEmail }}</td>
            </tr>
            <tr>
              <td style="width: 15%; text-align: left;">Applicant phone no:</td>
              <td style="width: 15%; text-align: left;">{{ item.applicantMobile }}</td>
              <td style="width: 15%; text-align: left;">Applicant Addhaar:</td>
              <td style="width: 15%; text-align: left;">{{ item.applicantAadhaar }}</td>
              <td style="width: 15%; text-align: left;">Applicant PAN no:</td>
              <td style="width: 15%; text-align: left;">{{ item.applicantPan }}</td>
            </tr>
            <tr>
              <td style="width: 15%; text-align: left;">Loan amount:</td>
              <td style="width: 15%; text-align: left;">{{ item.loanAmountRequired }}</td>
              <td style="width: 15%; text-align: left;">Applicant Loan ID:</td>
              <td style="width: 15%; text-align: left;">{{ item.loanId }}</td>
              
              <td style="width: 15%; text-align: left;">
                  <button class="btn btn-primary" (click)="adminEditLoan(item)">Edit</button>
                  <button class="btn btn-danger"  (click)="adminDeleteLoan(+item.loanId)">Delete</button>
              </td>

              <td colspan="2" style="width: 15%; text-align: left;">
                <ng-container *ngIf="item.loanStatus === 'approved'; else elseBlock1">
                  <span class="status approved">Approved</span>
                </ng-container>
                <ng-container *ngIf="item.loanStatus === 'rejected'; else elseBlock2">
                  <span class="status rejected">Rejected</span>
                </ng-container>
                <ng-template #elseBlock1>
                  <button [id]="'adminApproveLoan'" class="approve-btn" [ngClass]="{'disabled': item.loanStatus === 'rejected'}"
                    (click)="handleApprove(+item.loanId)" [disabled]="item.loanStatus === 'rejected'" *ngIf="item.loanStatus !== 'approved'">
                    Approve
                  </button>
                </ng-template>
                <ng-template #elseBlock2>
                  <button [id]="'adminRejectLoan'" class="reject-btn" [ngClass]="{'disabled': item.loanStatus === 'approved'}"
                    (click)="handleReject(+item.loanId)" [disabled]="item.loanStatus === 'approved'" *ngIf="item.loanStatus !== 'rejected'">
                    Reject
                  </button>
                </ng-template>
              </td> 
              <td >
                <input style="margin-left:50%; width: 25px; height: 30px;" type="checkbox" [(ngModel)]="item.selected" [ngModelOptions]="{standalone: true}"
                (change)="handleSelection(item)">
            </td>             
            </tr>
          </tbody>
        </table>
        <br><br>
      </div>
      <br>
      <button style="margin-left:85%;" class="btn btn-success" (click)="handleMultipleApprove()">Approve Selected</button>
      <br>
      <br>
      <button style="margin-left:85% ;width: 10.7%;" class="btn btn-danger" (click)="handleMultipleReject()">Reject Selected</button>
    </div>
  </div>

</div>

<div *ngIf="oneditTime">
  <div class="form" style="margin-left: 20%; width: 50%;">
    <br>
    <h6>EDIT YOUR LOAN</h6>
    <form [formGroup]="editLoan">
      <div class="form-group">
        <input type="text" id="enterName" name="Name" placeholder="Enter Applicant Name" formControlName="applicantName" class="form-control"><br>
        <span *ngIf="editLoan.controls['applicantName'].touched && editLoan.hasError('required','applicantName')" class="text-danger">Name is Required <br></span>

        <input type="text" id="enterAddress" placeholder="Enter Applicant Address" name="Address" formControlName="applicantAddress" class="form-control"><br>
        <span *ngIf="editLoan.controls['applicantAddress'].invalid && editLoan.controls['applicantAddress'].touched" class="text-danger">Address is Required<br></span>

        <input type="text" id="enterMobile" placeholder="Enter Applicant Mobile" min="0" max="9" name="Mobilenumber" formControlName="applicantMobile" class="form-control"><br>
        <span *ngIf="editLoan.controls['applicantMobile'].touched && editLoan.hasError('required','applicantMobile')" class="text-danger">Number is Required<br></span>
        <span *ngIf="editLoan.controls['applicantMobile'].touched && editLoan.hasError('minLength','applicantMobile')" class="text-danger">Invalid Format<br></span>

        <input type="text" id="enterEmail" placeholder="Enter Applicant Email Id" name="email" formControlName="applicantEmail" class="form-control"><br>
        <span *ngIf="editLoan.controls['applicantEmail'].touched && editLoan.hasError('required','email')" class="text-danger">Email is required <br></span>
        <span *ngIf="editLoan.controls['applicantEmail'].touched && editLoan.hasError('email','applicantEmail')" class="text-danger">Invalid email format <br></span>

        <input type="text" id="enterAadharNo" placeholder="Enter Applicant Aadhaar No" min="0" max="9" name="Aadhaar" formControlName="applicantAadhaar" class="form-control"/><br>
        <span *ngIf="editLoan.controls['applicantAadhaar'].touched && editLoan.hasError('required','applicantAadhaar')" class="text-danger">Aadhaar No is Required<br></span> 
        <span *ngIf="editLoan.controls['applicantAadhaar'].touched && editLoan.hasError('required','minLength')" class="text-danger">Invalid Number Format<br></span>
        <span *ngIf="editLoan.controls['applicantAadhaar'].touched && editLoan.hasError('required','maxLength')" class="text-danger">Invalid Number Format<br></span>

        <input type="text" id="enterPanNo" placeholder="Enter Applicant PAN no" name="PAN" formControlName="applicantPan" class="form-control"><br>
        <span *ngIf="editLoan.controls['applicantPan'].touched && editLoan.hasError('required','applicantPan')" class="text-danger">PAN is Mandatory<br></span>
        <span *ngIf="editLoan.controls['applicantPan'].touched && editLoan.hasError('required','maxLength')" class="text-danger">Invalid Format<br></span>

        <input type="text" id="enterSalary" placeholder="Enter Applicant Salary" name="Salary" formControlName="applicantSalary" min="0" max="9" class="form-control"><br>
        <span *ngIf="editLoan.controls['applicantSalary'].touched && editLoan.hasError('required','applicantSalary')" class="text-danger">Mandatory <br></span>

        <input type="text" id="enterAmount" placeholder="Enter Loan Amount Required" name="loanamt" formControlName="loanAmountRequired" min="0" max="9" class="form-control"><br>
        <span *ngIf="editLoan.controls['loanAmountRequired'].touched && editLoan.hasError('required','loanAmountRequired')" class="text-danger">Mandatory <br></span>

        <input type="text" id="enterMonths" placeholder="Enter loan repayment months" name="months" formControlName="loanRepaymentMonths" class="form-control"><br>
        <span *ngIf="editLoan.controls['loanRepaymentMonths'].dirty && editLoan.hasError('required','loanRepaymentMonths')" class="text-danger">Mandatory <br></span>
      </div>
    </form>
    <button (click)="onedit()" type="submit" id="updateButton" class="btn btn-primary">UPDATE</button>
  </div>
</div>
