
.status {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .approved {
    background-color: #28a745;
    color: #fff;
  }

  .rejected {
    background-color: #bb1c2c;
    color: #fff;
  }
  