/* #box{
    text-align:center;
    width: 100%;
    margin-top:50px;
    background-color:rgba(0, 0, 255, 0.549);
    
  }
  #enterLoanId
  {
    margin-top:8px;
    width: 15%;
  }*/
  #trackButton
  {
  /*   margin-top:10px; */
    background-color:red;
    color:white;
    width:8%;
    border-radius:5px;
  } 
  .status {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .approved {
    background-color: #28a745;
    color: #fff;
  }

  .rejected {
    background-color: #bb1c2c;
    color: #fff;
  }
  