nav {
    background-color: blue;
}
ul {
    list-style-type: none;
}
  
li {
    display: inline;
}
  
li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding:10px;
}
li a:hover{
    background-color:green;
    color:orange;
}
#logout{
    margin-left:70%; 
}
nav ul li a.active{
    background-color: aqua;
    color: black;
}